---
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
import formatDate from "src/utils/formatDate";
import trimTitle from "src/utils/formatText";

export interface Props {
  data: {
    slug: string;
    title: string;
    date: string;
    featuredImage: {
      node: {
        altText: string;
        sourceUrl: string;
        mediaDetails: {
          height: number;
          width: number;
        };
      };
    };
  };
}

const { data } = Astro.props;
---

<div class="flex flex-col h-full">
  <div class="pb-[60%] w-full relative">
    <Image
      class="absolute inset-0 w-full h-full object-cover"
      src={data.featuredImage.node.sourceUrl}
      alt={data.featuredImage.node.sourceUrl}
      format="jpeg"
      quality={80}
      width={data.featuredImage.node.mediaDetails.width}
      height={data.featuredImage.node.mediaDetails.height}
    />
  </div>
  <div class="mt-8">
    <p class="font-bold text-primary text-lg">{formatDate(data.date)}</p>
    <div
      class="flex flex-col lg:flex-row justify-between lg:space-x-10 items-start lg:items-center"
    >
      <p class="font-bebas text-4xl lg:text-5xl text-text-light">
        {trimTitle(data.title)}
      </p>
      <a
        class="font-bebas lg:self-start text-3xl text-text-light flex flex-shrink-0 items-center space-x-4"
        href={`/blog/${data.slug}`}
        ><span>Read More</span>
        <Icon name="ph:arrow-right-bold" class="fill-text-light" size={24} />
      </a>
    </div>
  </div>
</div>
