---
import { Image } from "@astrojs/image/components";
import PrimaryBtn from "@components/buttons/PrimaryBtn";

type VerticalCard = {
  img: {
    src: any;
    alt: string;
  };
  title: string;
  text: string;
  link: {
    to: string;
    text: string;
  };
};

export interface Props {
  className?: string;
  data: VerticalCard;
}
const { className, data } = Astro.props;
---

<div
  class={(className ? className : "") + " bg-black max-w-[475px] flex flex-col"}
>
  <div class="w-full">
    <Image
      src={data.img.src}
      alt={data.img.alt}
      class="w-full h-full object-cover"
    />
  </div>
  <div class="py-10 h-full px-4 text-center text-text-light max-w-sm mx-auto">
    <div class="h-full flex flex-col items-center justify-between">
      <div>
        <h6 class="font-bebas text-4xl md:text-6xl">{data.title}</h6>
        <p class="mt-2 text-lg">{data.text}</p>
      </div>

      <PrimaryBtn
        to={data.link.to}
        color="primary"
        className="mt-5 inline-block">{data.link.text}</PrimaryBtn
      >
    </div>
  </div>
</div>
