---
import { Image } from "astro:assets";
import PrimaryBtn from "@components/buttons/PrimaryBtn";

type VerticalCard = {
  img: {
    src: any;
    alt: string;
  };
  title: string;
  text: string;
  link: {
    to: string;
    text: string;
  };
};

export interface Props {
  className?: string;
  data: VerticalCard;
}
const { className, data } = Astro.props;
---

<div
  class={(className ? className : "") + " bg-black max-w-[475px] flex flex-col"}
>
  <div class="w-full">
    <Image
      src={data.img.src}
      alt={data.img.alt}
      class="w-full h-[400px] object-cover"
      format="webp"
    />
  </div>
  <div class="py-10 h-full px-4 text-center text-text-light max-w-sm mx-auto">
    <div class="h-full flex flex-col items-center justify-between">
      <div>
        <h6 class="font-bebas text-4xl md:text-6xl">{data.title}</h6>
        <p class="mt-2 text-lg">{data.text}</p>
      </div>
      <a
        class="mt-5 bg-primary inline-block px-16 py-3 rounded-full font-bebas text-2xl text-white cursor-pointer"
        href={data.link.to}>{data.link.text}</a
      >
    </div>
  </div>
</div>
