---
import Layout from "src/layouts/Layout.astro";
import PageBanner from "@sections/PageBanner.astro";
import Icon from "astro-icon";
import ContactForm from "@components/forms/ContactForm";

const fields = [
  { fieldType: "text", id: "name", name: "Name" },
  { fieldType: "email", id: "email", name: "Email Address" },
  { fieldType: "textarea", id: "message", name: "Message" },
];

const contacts = [
  { icon: "mdi:envelope", text: "usa@100million.org" },
  {
    icon: "mdi:location",
    text: "1527 New Hampshire Avenue NW Washington DC 20002",
  },
];

const socialLinks = [
  { name: "mdi:twitter", link: "https://twitter.com/100millionus" },
  { name: "mdi:instagram", link: "https://www.instagram.com/100millionusa/" },
];
---

<Layout
  seo={{
    title: "Contact Us | 100 Million US",
    description:
      "Have a question for us here at 100 million? Send us an email and we will get back to you as soon as we can.",
  }}
>
  <section class="bg-primary px-edge py-16">
    <div class="max-w-screen-2xl mx-auto text-center text-white">
      <h1 class="font-bebas text-[100px]">Contact Us</h1>
      <p class="text-lg">
        Looking to get involved? Reach out to us and we will get back to you as
        soon as possibile with steps to take action.
      </p>
    </div>
  </section>

  <section class="bg-gray-400 h-[500px]">
    <iframe
      id="gmap_canvas"
      src="https://maps.google.com/maps?q=1527%20New%20Hampshire%20Avenue%20NW%20Washington%20DC%2020002&t=&z=13&ie=UTF8&iwloc=&output=embed"
      class="w-full h-full"></iframe>
  </section>
  <section class="bg-black px-edge pb-4">
    <div
      class="max-w-4xl mx-auto grid grid-cols-1 lg:grid-cols-2 -translate-y-24"
    >
      <div class="bg-white py-12 px-16">
        <p class="font-bebas text-5xl text-center leading-none">
          Send Us A Message
        </p>
        <ContactForm
          fields={fields}
          name="Contact Form"
          message="Thank you for submitting this contact form. We will reach out to you shortly."
          error="There was an error submitting this form. Please refresh and try again. If the problem persists, please send us an email directly."
          client:load
        />
      </div>
      <div class="bg-primary py-20 px-16">
        <p class="font-bebas text-5xl text-white text-center">Contact Us</p>
        <ul class="mt-4 space-y-8">
          {
            contacts.map((contact) => (
              <li class="max-w-[200px] mx-auto">
                <Icon
                  name={contact.icon}
                  color="white"
                  size={40}
                  class="mx-auto"
                />
                <p class="text-text-light text-center">{contact.text}</p>
              </li>
            ))
          }
        </ul>
        <ul class="flex justify-between mt-4 max-w-[150px] mx-auto">
          {
            socialLinks.map((link) => (
              <a href={link.link} target="_blank">
                <Icon name={link.name} size={24} color="white" />
              </a>
            ))
          }
        </ul>
      </div>
    </div>
  </section>
</Layout>
