---
const involveLinks = [
  { link: "/teachers", text: "Teachers" },
  { link: "/individuals", text: "Individuals" },
  { link: "/organizations", text: "Organizations" },
  { link: "/contact", text: "Contact" },
];

const resourceLinks = [
  { link: "/about-us", text: "About Us" },
  { link: "/articles/1", text: "Articles" },
  { link: "/resources/1", text: "Resources" },
];

const socialLinks = [
  { name: "mdi:twitter", link: "/" },
  { name: "mdi:instagram", link: "/" },
  { name: "ic:baseline-tiktok", link: "/" },
];

import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import PriamryBtn from "@components/buttons/PrimaryBtn";
---

<section class="bg-primary text-text-light">
  <footer class="px-edge py-12">
    <div
      class="max-w-screen-2xl mx-auto flex flex-col lg:flex-row items-center lg:items-start justify-between gap-5"
    >
      <div>
        <Image
          src={import("@img/hundred-million-logo-white.png")}
          alt="hundred million logo"
          class="mx-auto lg:mx-0"
        />
        <h6 class="mt-6 font-bebas text-lg text-center lg:text-left">
          A 100 Million Organizaiton. <a href="https://100million.org"
            >Visit Parent Org</a
          >
        </h6>
        <div class="flex justify-center lg:justify-start space-x-2 mt-6">
          {
            socialLinks.map((link) => (
              <a href={link.link}>
                <Icon name={link.name} size={24} class="fill-primary" />
              </a>
            ))
          }
        </div>
      </div>
      <div class="text-center lg:text-left">
        <p class="text-4xl font-bebas">
          Get <span class="text-text-dark">Involved</span>
        </p>
        <ul class="space-y-2">
          {
            involveLinks.map((link) => (
              <li>
                <a href={link.link}>{link.text}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="text-center lg:text-left">
        <p class="text-4xl font-bebas">
          Learn <span class="text-text-dark">More</span>
        </p>
        <ul class="space-y-2">
          {
            resourceLinks.map((link) => (
              <li>
                <a href={link.link}>{link.text}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="text-center">
        <p class="text-4xl font-bebas">
          Stay <span class="text-text-dark">Up To Date</span>
        </p>
        <div class="flex flex-wrap justify-center gap-2">
          <input
            class="bg-transparent border border-black focus:outline-none rounded-full py-3 w-64 px-4 text-sm text-text-light placeholder:text-text-light"
            type="text"
            placeholder="Email"
          />
          <PriamryBtn className="!text-lg" to="/">Join Us</PriamryBtn>
        </div>
      </div>
    </div>
  </footer>
  <div class="px-edge bg-primary-darker py-4">
    <p class="font-bebas text-xl text-center">
      Copyright © 2022 100 Million Us | All Right Reserved | Powered By <a
        href="https://www.simply-sprout.com">Simply Sprout</a
      >
    </p>
  </div>
</section>
